.tablePagination {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 0 auto;

    &__btn {
        flex: 0 0 40px;
        cursor: pointer;
        border-radius: 50%;
        height: 40px;

        &:not(.currentPage) {
            background-color: transparent;
        }

        @media (max-width: 600px) {
            height: 30px;
            flex-basis: 30px;
            font-size: 0.775em;
        }
    }
}