.selected {
    background-color: yellow;

    & td {
        background-color: inherit !important;
        color: black !important;
    }
}

td {
    padding: 15px;
}

.highlight {
    background-color: red;
}

.currentPage {
    background-color: red;
}