<div class="modalContent">
    <ng-container *ngIf="!submitted">
        <h2>Удалить сообщение с id {{id}}?</h2>
        <div class="modalContent__btnContainer">
            <button class="btn btn--error" (click)="onSubmit()">Удалить</button>
            <button class="btn btn--neutral" (click)="activeModal.close()">Отменить</button>
        </div>
    </ng-container>
    <i *ngIf="submitted" class="successIcon material-icons">done</i>
    <i class="closeIcon material-icons" (click)="activeModal.close()">close</i>
</div>